/* Global variables */
@font-face {
  font-family: "Kaftan";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/KaftanSerifTrial-Regular.woff2) format("woff2");
}

:root {
  --maxWidth-none: "none";
  --maxWidth-xs: 20rem;
  --maxWidth-sm: 24rem;
  --maxWidth-md: 28rem;
  --maxWidth-lg: 32rem;
  --maxWidth-xl: 36rem;
  --maxWidth-2xl: 42rem;
  --maxWidth-3xl: 48rem;
  --maxWidth-4xl: 56rem;
  --maxWidth-full: "100%";
  --maxWidth-wrapper: var(--maxWidth-2xl);
  --spacing-px: "1px";
  --spacing-0: 0;
  --spacing-1: 0.25rem;
  --spacing-2: 0.5rem;
  --spacing-3: 0.75rem;
  --spacing-4: 1rem;
  --spacing-5: 1.25rem;
  --spacing-6: 1.5rem;
  --spacing-8: 2rem;
  --spacing-10: 2.5rem;
  --spacing-12: 3rem;
  --spacing-16: 4rem;
  --spacing-20: 5rem;
  --spacing-24: 6rem;
  --spacing-32: 8rem;
  --fontFamily-sans: Montserrat, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --fontFamily-serif: "Merriweather", "Georgia", Cambria, "Times New Roman",
    Times, serif;
  --font-body: var(--fontFamily-serif);
  --font-heading: var(--fontFamily-sans);
  --fontWeight-normal: 400;
  --fontWeight-medium: 500;
  --fontWeight-semibold: 600;
  --fontWeight-bold: 700;
  --fontWeight-extrabold: 800;
  --fontWeight-black: 900;
  --fontSize-root: 16px;
  --lineHeight-none: 1;
  --lineHeight-tight: 1.1;
  --lineHeight-normal: 1.5;
  --lineHeight-relaxed: 1.625;
  /* 1.200 Minor Third Type Scale */
  --fontSize-0: 0.833rem;
  --fontSize-1: 1rem;
  --fontSize-2: 1.2rem;
  --fontSize-3: 1.44rem;
  --fontSize-4: 1.728rem;
  --fontSize-5: 2.074rem;
  --fontSize-6: 2.488rem;
  --fontSize-7: 2.986rem;
  /* --color-primary: #005b99;
  --color-text: #2e353f;
  --color-text-light: #4f5969;
  --color-heading: #1a202c;
  --color-heading-black: black;
  --color-accent: #d1dce5; */

  --color-main: #fef7dd;
  --color-red: #ff2c2c;
  --color-yell-red: #fcc662;
  /* --color-black: #000; */
  /* --color-black: #232020; */
  --color-black: hsla(0, 0%, 0%, 0.9);

  /* --color-black: #171717; */
  --color-black: #0d0902;
  /* 171717 */
  /* --color-black: #202a25; */
  /* --color-black: #212738; */

  --color-grape: #613f75;
  --color-text: hsla(0, 0%, 0%, 0.73);
}

*,
:after,
:before {
  box-sizing: border-box;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  background-color: #ec684d;
  /* background-color: #3e4b97; */
  /* background-color: lightsalmon; */
  font-family: kaftan;
  color: var(--color-black);
  /* line-height: 1; */
}

h1,
h2,
h3,
h4,
p,
a {
  font-family: kaftan;
  color: var(--color-black);
}

p {
  font-size: 20px;
}

li {
  list-style: none;
}

a {
  text-shadow: none;
  background-image: none;
  /* text-decoration: underline; */
  /* text-decoration-style: double; */
  position: relative;
}

a:hover,
a:active {
  text-decoration: none;
}

.quote {
  font-style: italic;
}

/* a:after {
  content: "";
  position: absolute;
  bottom: -0.25em;
  left: 0;
  width: 100%;
  height: 1px;
  z-index: -1;
  background-color: var(--color-black);
} */

/* ///// from style.css */
.global-wrapper {
  /* position: relative; */
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: var(--spacing-0) auto;
  /* max-width: var(--maxWidth-wrapper); */
  /* padding: var(--spacing-10) var(--spacing-5); */
  padding: 1.5rem;
}

h1 {
  margin-top: 0;
  font-size: 36px;
  text-align: center;
  font-weight: 400;
}

@media (min-width: 1024px) {
  h1 {
    font-size: 60px;
    /* margin-bottom: 3rem; */
  }
}

@media (min-width: 1024px) {
  .main-wrapper {
    /* max-width: 1200px; */
    padding: 2.5rem 2.5rem 1.5rem;
    /* padding: var(--spacing-20) var(--spacing-5) var(--spacing-10); */
  }
}

.main-wrapper[data-is-root-path="true"] .bio {
  margin-bottom: var(--spacing-20);
}

.content-wrapper {
  max-width: 900px;
  margin: 2rem auto 4rem;
}
/* ///// */

.hero-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  opacity: 0.2;
  z-index: -1;
  display: none;

  /* filter: hue-rotate(var(--value, 360deg)); */
  /* filter: invert(var(--value, 100%)); */
  /* filter: blur(5px); */
  /* filter: grayscale(); */
}

/* HEADER */
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0;
  /* height: 20vh; */
}
/* 
@media (min-width: 360px) {
  .header {
    margin-bottom: 3rem;
  }
}

@media (min-width: 390px) {
  .header {
    margin-bottom: 4rem;
  }
}

@media (min-width: 1024px) {
  .header {
    margin-bottom: 2rem;
  }
}

@media (min-width: 1280px) {
  .header {
    margin-bottom: 0;
  }
} */

.logo-wrapper {
  max-width: 4rem;
}

@media (min-width: 1024px) {
  .logo-wrapper {
    /* max-width: 6rem; */
  }
}

.logo-wrapper a {
  display: block;
}

.logo-wrapper a img {
  margin: 0;
}

.nav {
  padding-top: 1rem;
}

@media (min-width: 481px) {
  .nav {
    padding-top: 1rem;
  }
}

.nav ul {
  margin: 0;
}

.nav a {
  /* text-decoration: none; */
  font-size: 25px;
}

@media (min-width: 481px) {
  .nav a {
    font-size: 36px;
  }
}

/* MAIN */
.main-list-wrapper {
  max-width: 60rem;
  margin: auto;
  padding: 5.5rem 0 3rem 1rem;
  border: 1px solid var(--color-black);
  border-radius: 50%;
  /* background-color: #999; */
  /* filter: blur(8px); */
  position: relative;
  /* overflow: hidden; */
  filter: drop-shadow(0.75rem 0.75rem 0.5rem var(--color-black));
}

.main-list-wrapper::before {
  content: "";
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 3rem;
  z-index: -1;
  border-radius: 50%;
  display: block;
  /* background-image: url("https://i.imgur.com/lL6tQfy.png");
  background-size: cover; */
  background-color: #eee;
  width: 100%;
  height: 100%;
  /* filter: blur(10px); */
  opacity: 0.15;
  border: 1px solid var(--color-black);
}

.main-list-wrapper::after {
  content: "";
  position: absolute;
  top: 1rem;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
  z-index: -1;
  border-radius: 50%;
  display: block;
  /* background-image: url("https://i.imgur.com/lL6tQfy.png"); */
  background-size: cover;
  background-color: #eee;
  width: 100%;
  height: 100%;
  /* filter: blur(20px) grayscale(1); */
  /* filter: blur(20px); */
  /* opacity: 0.75; */
}

.main {
  flex-grow: 2;
}

.main-list {
  max-width: 500px;
  /* padding-top: 1rem; */
  margin: 0 auto;
  /* font-size: 36px; */
  font-size: 25px;
  text-align: center;
}

.main-list li {
  margin-bottom: 1.5rem;
}

.main-list li:last-of-type {
  margin-bottom: 0;
}

@media (min-width: 390px) {
  .main-list li {
    margin-bottom: 3rem;
  }
}

@media (min-width: 1024px) {
  .main-list {
    font-size: 50px;
  }
}

.main-list li a {
  display: block;
  color: var(--color-black);
}

.main-list li.disabled-item a {
  display: block;
  color: var(--color-black);
  opacity: 0.5;
  text-decoration: line-through;
}

@media (min-width: 481px) {
  /* .main {
    flex-grow: 2;
  } */

  .main-list li {
    margin-bottom: 0px;
  }
}

/* FOOTER */
footer {
  /* padding-top: 1rem; */
  padding: 3.5rem 2.5rem 2.5rem;
  /* border-radius: 25%; */
  font-size: 18px;
  /* border-top: 1px solid var(--color-black); */
  text-align: center;
  background-color: var(--color-black);
  color: #ec684d;
}

.footer-subtitle {
  margin-bottom: 0.5rem;
  color: #999;
}

.footer-title {
  margin-bottom: 3rem;
  font-size: 25px;
}

.footer-title:last-of-type {
  margin-bottom: 2rem;
  /* font-size: 25px; */
}

@media (min-width: 1024px) {
  .footer {
    /* max-width: 1200px; */
    /* padding: 2.5rem 2.5rem 1.5rem; */
  }
}

.footer-left {
  /* margin-bottom: 1rem; */
}

/* .footer-left p {
  margin-bottom: 0.2em;
} */

@media (min-width: 868px) {
  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .footer-left {
    text-align: left;
  }

  .footer-right {
    /* margin-top: 0.5rem; */
    text-align: right;
  }

  .footer-right p {
    /* font-size: 36px; */
  }

  .hide-large {
    /* display: none; */
  }
}

footer p {
  color: #ec684d;
}

footer a {
  color: #ec684d;
}

.svgbg1 {
  position: fixed;
  bottom: 0;
  right: 0;
  /* transform: rotate(-95deg); */
  width: 5rem;
  /* opacity: 0.2; */
  z-index: -1;
}

.svgbg2 {
  position: fixed;
  bottom: 0;
  left: 1rem;
  /* width: 100%;
  height: 100%; */
  /* opacity: 0.2; */
  width: 5rem;
  z-index: -1;
}

.svgbg3 {
  position: fixed;
  bottom: 0;
  right: -75%;
  /* left: 0; */
  top: 1rem;
  /* width: 100%;
  height: 100%; */
  /* opacity: 0.2; */
  width: 200%;
  height: 100%;
  /* margin: auto; */
  z-index: -1;
}

.svgbg4 {
  position: fixed;
  bottom: 0;
  left: -75%;
  top: 1rem;
  width: 200%;
  height: 100%;
  z-index: -1;
}

.svgs {
  filter: blur(1px);
  opacity: 0.2;
}

.svgour1 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 10rem;
  /* height: 100%; */
  z-index: -1;
}
