/* Global variables */
:root {
  --main-bg: #fef7dd;
  --other-test: #c53927;
}

body {
  background-color: var(--main-bg);
}

.logo-wrapper {
  text-align: center;
}

.logo-wrapper img {
  max-width: 100px;
}

.logo-wrapper a {
  display: block;
  background-image: none;
}

.contact-form {
  margin-bottom: 1.5rem;
}

.contact-form h3 {
  text-align: center;
}

.contact-form form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: auto;
}

footer {
  padding-top: 1.5rem;
  border-top: 1px solid var(--color-text);
}

footer p {
  margin: 0;
}
